#######################
#######################
#######################
#####            ######
#####    BLOCK   ######
#####     ALL    ######
#####            ######
#######################
#######################
#######################



*



#######################
#######################
#######################
#####            ######
#####  ! EXCEPT  ######
#####    ALLOWS  ######
#####            ######
#######################
#######################
#######################


###########################################
###########################################
#### ONLY FILES THAT ARE IN THE IMAGE #####
#### NEED TO BE BROUGHT IN, ALL ELSE  #####
#### CAN BE IGNORED, INCLUDING FILES  #####
#### AND FOLDERS MEANT TO BE MOUNTED! #####
###########################################
###########################################


!*.temp.*
!CHANGELOG.md
!CODE_OF_CONDUCT.md
!CONTRIBUTORS.md
!Dockerfile
!LICENSE
!NOTICE.LICENSE.md
!README.md
!app/.babelrc
!app/babel.config.json
!app/index.js
!app/modules/image-generation.js
!app/modules/sleep.js
!app/scripts/build.sh
!app/scripts/cleanup-data-folder.sh
!app/scripts/dev-entrypoint.sh
!app/scripts/entrypoint.sh
!app/scripts/in-files-count.sh
!app/scripts/install.sh
!app/scripts/out-files-count.sh
!app/scripts/randomInput.sh
!app/scripts/sleep.sh
!app/scripts/twitter.sh
!app/scripts/twitter-autohook.sh
!app/scripts/version.sh
!app/scripts/yarnloader.sh
!app/sleep.js
!app/twitter-autohook.js
!app/twitter.js
!modules/image-generation.js
!modules/sleep.js
!package.json
!package-lock.json
!yarn.lock
!.yarnrc
!.yarnrc.yml
!.yarn/

#######################
#######################
#######################
#####            ######
#####   EXTRA    ######
#####   BLOCKS   ######
#####    FOR     ######
#####   SAFETY   ######
#####            ######
#######################
#######################
#######################


**/*.env
**/*.png
**/.env*
**/.git*
**/data/
**/lib/
**/docs/
**/mongo/
**/mongodata/
**/node_modules/
node_modules
/node_modules
*node_modules*
**node_modules**
**node_modules**

#### EXAMPLES  ###################################################################
#### ! = ALLOW ###################################################################
## # Ignore a file or directory in the context root named "modules"
## modules
##
## # Ignore any files or directories within the subdirectory named "modules"
## # in the context root
## modules/*
##
## # Ignore any files or directories in the context root beginning with "modules"
## modules*
##
## # Ignore any files or directories one level down from the context root named
## # "modules"
## */modules
##
## # Ignore any files or directories at any level, including the context root,
## # named modules
## **/modules
##
## # Ignore every file in the entire build context (see next rule for how this
## # could be used)
## *
##
## # Re-include the file or directory named "src" that may have been previously
## # excluded. Note that you cannot re-include files in subdirectories that have
## # been previously excluded at a higher level
## !src
#### EXAMPLES #####################################################################
